.heading
{
  font-size: 26px;
  width: 100%;
  margin: 0px;
  box-shadow:5px 5px 5px rgb(36, 237, 255);
}
.note
{
  font-size: 15px;
  color: black;
}
.copy_right_footer {
  position: fixed;
  color: rgb(150, 255, 70);
  bottom: 0;
  width: 100%;
  background-color:rgb(212, 255, 0);
  line-height: 3;
  text-align: center;
}
h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-kerning: auto;
}
canvas 
{
  border:5px solid rgb(42, 252, 19);
  border-radius:20px;
  box-shadow:5px 5px 5px rgb(255, 0, 0);
}

